:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


  font-synthesis:style;

}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin:0 auto;
}
.non-completed{
  color: darkred;
}
.completed{
  color: darkgreen;
}